.head-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 467px;
  background-color: #FBFBFB;

  .head-image {
    background-image: url("../images/head-image.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .head-title {

    .head-title-main {
      font-weight: 700;
      font-size: 60px;
      color: #000;
      line-height: 72px;
      margin-top: 130px;
      margin-left: 125px;
      margin-right: 100px;

      img {
        position: absolute;
        margin-top: -10px;
      }
    }

    .head-title-second {
      font-weight: 400;
      font-size: 30px;
      color: #4A5568;
      line-height: 38px;
      margin-left: 125px;
      margin-right: 100px;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .head-section {
    .head-image {
      background-position: left;
    }
  }
}